.open_display{
    overflow-y: overlay;
    z-index: 1;
    height: 100vh;
    width: 75vw;
}
.open_display::-webkit-scrollbar{
    scrollbar-gutter: stable;
    width: 10px;
}
.open_display::-webkit-scrollbar-thumb{
    background-color:rgb(69, 81, 93);
}

/* DIv for top region */
.top_div{
    position: relative;
    left: 0;
    background-image: linear-gradient(180deg,rgba(45, 45, 110, 0.541),rgba(21, 21, 32, 0.541));
    padding-top: 18px;
}
.musicshow_wrapper{
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    filter: blur(18px);
    opacity: 50%;
    height: 300px;
}
.open_top_heading{
    color: white;
    display: flex;
    padding: 20px 0;
    margin: 0 35px;
    background-color: rgba(82, 82, 82, 0.311);
    border-radius: 20px;
}
.heading_text{
    font-size: 15px;
    font-weight: bold;
    padding-top: 30px;
    font-family:Arial, Helvetica, sans-serif;
}
.open_name_head{
    font-size: 50px;
}
.open_top_heading_img{
    height: 235px;
    width: 235px;
    padding: 0px 20px 0px 30px;
}
.open_top_heading_img_artist{
    height: 205px;
    width: 205px;
    margin-top: 20px;
    margin-left: 40px;
}

/* Div for buttons */
.playicon_open{
    height: 60px;
    width: 60px;
    color: black;
    margin-left: 42px;
    margin-top: 20px;
    cursor: pointer;
}
.bi-play-circle, .bi-pause-circle{
    margin: 18px 0px 0px 45px;
    margin: 8px 3px;
    font-size: 45px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
 .heading_text button{
    margin: 25px 0px 4px 5px;
    border: 0;
    background-color: rgb(0, 0, 180);
    color: white;
    padding: 7px 24px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
 }

/* DIV for list of names */
.open_bottom_area{
    top: 0px;
    background-color:rgba(21, 21, 32, 0.541);
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    min-height: 60vh;
}


/* OpenSonglist CSS */

.song_list{
    padding: 25px 5px 50px 35px;
    width:auto;
}
.song_list::-webkit-scrollbar{
    display: none;
}
.listtable{
    background-color: rgb(41, 38, 53);
    padding: 25px;
    text-align: left;
    width: 97%;
    font-size: 13px;
    border-radius: 15px;
}
.listtable th{
    color:rgb(255, 255, 255);
}

.tabletopline{
    border: 0px;
    background-color: rgb(255, 255, 255);
    height: 0.5px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.songtd{
    margin-bottom: 5px;
}
.span_class{
    margin-bottom: 3px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
.songtd_img{
    padding-top: 8px;
    height: 42px;
    width: 42px;
}
.songtd_div{
    font-size: 12px;
    padding:12px 2px 2px 15px;
    display: flex;
    flex-direction: column;
}
.songlist2_active:hover{
    cursor: pointer;
    font-weight: bold;
    color: rgb(218, 211, 241);
    background-color: rgb(88, 87, 102);
}
.bi-heart{
    z-index: 2;
}
.bi-heart-fill{
    z-index: 2;
}
.heart_icon{
    color: rgb(255, 113, 113);
    animation-name: liked;
    animation-timing-function: ease-in-out;
    animation-direction: both;
    animation-duration: 0.5s;
    animation-delay: 0;
}

/* Animated Class */
.activenow{
    color:rgb(255, 155, 155);
}
.activenow_class{
    color:rgb(255, 155, 155);
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bolder;
}
@keyframes liked{
    0%{
        font-size: 13px;
    }
    25%{
        font-size: 15px;
    }
    50%{
        font-size: 13px;
    }
    75%{
        font-size:12px;
    }
    100%{
        font-size: 13px;
    }
}


/* about */
.about{
    padding-left: 45px;
    padding-bottom: 30px;
    color: white;
    padding-bottom: 150px;
}
.aboutimg{
    height:100%;
    width: 100%;
    opacity: 60%;
    border-radius: 10px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.aboutflex{
    position: relative;
}
.aboutinfo{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 90%;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 35px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* CSS for full screen */
@media screen and (min-height:790px){
    .song_list{
        min-height: 30vh;
    }
    .open_display{
        overflow-y: overlay;
        height: 92.2%;
    }
}

/* Respns */
@media screen and (max-width :1205px){
    .open_name_head{
        font-size: 55px;
    }
}
@media screen and (max-width :895px){
    .open_name_head{
        font-size: 45px;
    }
    .open_top_heading_img{
        padding-left: 25px;
    }
    .open_display{
        border-radius: 0;
        width: 100vw;
        height: 100vh;
    }
    .song_list{
        padding-left: 25px;
        padding-right: 0px;
        width: calc(100vw - 25px);
    }
    .open_top_heading_img_artist{
        height: 180px;
        width: 180px;
        margin-left: 20px;
    }
    .aboutinfo{
        font-size: 15px;
    }
    .about{
        padding-left: 25px;
    }
}
@media screen and (max-width :669px){
    .open_name_head{
        font-size: 35px;
    }
    .open_top_heading_img{
        height: 200px;
        width: 200px;
    }
    .table_plays{
        display: none;
    }
    .bi-clock{
        display: none;
    }
    .durn_open_list span{
        display: none;
    }
    .durn_open_list{
        position: relative;
        margin-bottom: 18px;
    }
    .durn_open_list i{
        position: absolute;
        top: 0;
        right: 18px;
    }
    .open_top_heading_img_artist{
        height: 150px;
        width: 150px;
    }
}
@media screen and (max-width :530px){
    .open_name_head{
        font-size: 20px;
        margin-left: 4px;
    }
    .open_top_heading_img{
        height: 170px;
        width: 170px;
    }
    .heading_text{
        font-size: 11px;
    }
    .top_div{
        height: 330px;
    }
    .song_list{
        padding-left: 15px;
        padding-right: 0px;
        width: calc(100vw - 15px);
    }
    .aboutinfo{
        font-size: 12px;
        padding-left: 15px;
    }
    .about{
        padding-left: 15px;
    }
}