.leftpannel{
    background-color: transparent;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 6%;
    height:100vh;
    border-top-right-radius: 15px;
}
.Link{
    text-decoration: none;
    color: white;
}
.leftdx{
    margin: 20px 10px;
}
.left1 ul li{
    display: flex;
    justify-content: center;
}
/* .left1 ul li span{
    font-style: normal;
    font-size: 0.9rem;
    padding-left: 0.95rem;
    bottom: 2.5px;
    position: relative;
} */
.left1 ul li i{
    color: white;
    font-size: 1.3rem;
}
.leftpannel_actv{
    color: white;
    margin: 12px 0px;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    cursor: pointer;
}
.left1 ul li:hover{
    background-color: rgba(54, 33, 244, 0.628);
}
.left_logo{
    /* padding: 25px 5px 18px 25px; */
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 25px 0 10px 0;
}
.left_logo img{
    height: 2.2rem;
    width: 2.2rem;
}
.left_logo span{
    color: rgb(0, 132, 255);
}

.hr{
    border:0;
    background-color: rgb(255, 255, 255);
    height: 0.1px;
}

.left2{
    margin-top: 50px;
}
.left2 ul li{
    border-radius: 12px;
    margin: 1px 0px;
    padding: 12px 0.9rem;
    display: flex;
    justify-content: center;
}
.left2 ul li span{
    margin-left: 13px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1rem;
}
#create span{
    position: relative;
    bottom: 3px;
}
.left2 ul li span:hover{
    color: rgb(166, 179, 220);
}
.liked_songs_active{
    color: white;
    opacity: 100%;
}


.bi-file-music-fill{
    font-size: 1.42rem;
    border-radius: 2px;
}
.likedheart{
    font-size: 1rem;
    padding: 4px;
    color: rgb(255, 255, 255);
}
.active{
    text-decoration: none;
    background-color: rgba(43, 25, 204, 0.628);
}

/* Playlist Section CSS */
.playlist_section{
    margin-top: 15px;
    margin-left: 15px;
    font-size: 0.8rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.playlist_section ul li:hover{
    color: white;
}
.playlist_section ul li{
    padding-top: 6px;
    padding-bottom: 6px;
}
#playlist_holder_pannel{
    height: 30vh;
    overflow-y: scroll;
}
#playlist_holder_pannel::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
}
#playlist_holder_pannel::-webkit-scrollbar-thumb{
    background-color: gray;
}
.active_list{
    color: rgb(255, 255, 255);
}
.list_left_class{
    position: relative;
}
.bi-x{
    position: absolute;
    right: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.bi-x:hover{
    color:white;
}



/* Responsiveness */
@media screen and (max-width:1259px) {
    .left_logo{
        padding: 12px 12px;
        font-size: 16px;
    }
    .left_logo img{
        height: 2.2rem;
        width: 2.2rem;
    }
}
@media screen and (max-width:1129px) {
    .left1 ul li i{
        margin-left: 35px;
    }
    .left2 ul li i{
        margin-left: 35px;
    }
    .left1 ul li span{
        display: none;
    }
    .left2 ul li span{
        display: none;
    }
}
@media screen and (max-width:895px) {
    .left_logo{
        display: none;
    }
    .leftdx{
        margin: 0;
    }
    .leftpannel{
        position: absolute;
        bottom: 0;
        z-index: 2;
        background-color: rgb(9, 2, 35);
        width: 100vw;
        height: 45px;
    }
    .playlist_section{
        display: none;
    }
    .left2{
        display: none;
    }
    .leftpannel hr{
        display: none;
    }
    .left1 ul{
        width: 100vw;
        display: flex;
        column-gap: 6px;
        justify-content: center;
    }
    .left1 ul li{
        padding: 8px 0px;
        margin: 2.7px 0;
    }
    .left1 ul li i{
        margin-left: 0;
        padding: 45px;
    }
}