.showtrack_list{
    width: 75vw;
    height: 100%;
    overflow-y: scroll ;
    background-color: rgba(21, 21, 32, 0.541);
}
.showtrack_list::-webkit-scrollbar{
    scrollbar-gutter: stable;
    width: 10px;
}
.showtrack_list::-webkit-scrollbar-thumb{
    background-color:slategray;
}

.tracklisttable{
    padding: 15px;
    margin: 20px 5px 50px 35px;
    text-align: left;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95%;
    font-size: 14px;
    color: lightgray;
    background-color: rgb(41, 38, 53);
}
.songtd{
    margin-bottom: 5px;
}
.span_class{
    margin-bottom: 3px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
.songtd_img{
    padding-top: 8px;
    height: 42px;
    width: 42px;
}
.songtd_div{
    font-size: 12px;
    padding:12px 2px 2px 15px;
    display: flex;
    flex-direction: column;
}
.songlist2_active:hover{
    cursor: pointer;
    font-weight: bold;
    color: rgb(218, 211, 241);
    background-color: rgb(88, 87, 102);
}

/* Animated Class */
.activenow{
    color:rgb(255, 155, 155);
}
.activenow_class{
    color:rgb(255, 155, 155);
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bolder;
}

/* heading */
.showtrack_list h2{
    color: rgb(234, 234, 234);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 40px;
    padding-top: 15px;
}
#blank{
    position: relative;
    top: 28vh;
    margin-left: 27vw;
    color: white;
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#blank2{
    position: absolute;
    text-align: center;
    top: 45vh;
    margin-left: 31.5vw;
    color: rgb(170, 161, 255);
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* heart icon */
.bi-heart{
    z-index: 2;
}
.bi-heart-fill{
    z-index: 2;
}

/* CSS for full screen */
@media screen and (min-height:790px){
    .showtrack_list{
        height: 81.25vh;
    }
}