.catg_list{
    width: 100%;
    height: 100vh;
    overflow-y: scroll ;
    background-color: rgb(7, 2, 30);
}
.catg_list::-webkit-scrollbar{
    scrollbar-gutter: stable;
    width: 10px;
}
.catg_list::-webkit-scrollbar-thumb{
    background-color:slategray;
}
.catglisttable{
    background-color: rgb(41, 38, 53);
    text-align: left;
    padding: 15px;
    border-radius: 15px;
    margin: 20px 5px 150px 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 95%;
    font-size: 14px;
    color: lightgray;
}
.songtd{
    margin-bottom: 5px;
}
.span_class{
    margin-bottom: 3px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}
.songtd_img{
    padding-top: 8px;
    height: 42px;
    width: 42px;
}
.songtd_div{
    font-size: 12px;
    padding:12px 2px 2px 15px;
    display: flex;
    flex-direction: column;
}
.songlist2_active:hover{
    cursor: pointer;
    font-weight: bold;
    color: rgb(218, 211, 241);
    background-color: rgb(88, 87, 102);
}

/* Animated Class */
.activenow{
    color:rgb(255, 155, 155);
}
.activenow_class{
    color:rgb(255, 155, 155);
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: bolder;
}

/* heading */
.catg_list h2{
    color: rgb(234, 234, 234);
    font-family: cursive;
    font-size: 50px;
    padding-left: 90px;
    padding-top: 25px;
    padding-bottom: 12px;
}


/* Artist CSS */
.flex_hold{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:20px 0px 150px 70px;
    width: auto;
}
.artistdisplay_flex{
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
.artist_indv_flex{
    display: flex;
    column-gap: 40px;
    overflow: hidden;
    height: auto;
}

/* Heart icon */
.bi-heart{
    z-index: 2;
}
.bi-heart-fill{
    z-index: 2;
}

/* CSS for full screen */
@media screen and (min-height:790px){
    .catg_list{
        height: 92.25%;
    }
}

@media screen and (max-width : 1225px) {
    .catglisttable{
        margin-left: 15px;
    }
}

@media screen and (max-width : 690px) {
    .catg_album_name{
        display: none;
    }
    .catg_list h2{
        color: rgb(234, 234, 234);
        font-family: cursive;
        font-size: 40px;
        padding-left: 35px;
    }
    .flex_hold{
        padding-left: 35px;
    }
}
@media screen and (max-width : 470px) {
    .timeinfo_catg{
        display: none;
    }
    .catglisttable{
        margin-left: 10px;
    }
}