/* Top display */
.playlist_header_top{
    width: 95%;
    background: linear-gradient(135deg, rgb(36, 152, 36) 60%, rgb(157, 168, 156));
}
#playlist_icon{
    background: linear-gradient(135deg, rgb(151, 240, 151), rgb(157, 168, 156));
    font-size: 75px;
    border-radius: 5px;
    padding: 80px 80px 70px 80px;
    margin: 0 15px;
    color: rgb(212, 222, 209);
}
.playlist_heading_text button{
    background-color: rgb(18, 105, 15);
}

/* bottom display */
.playlist_bottom_area{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 90px;
}
.playlist_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.playlist_search span{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#cross_hide_search_internal input{
    font-size: 15px;
    height:45px ;
    width: 98%;
    color: rgb(198, 198, 198);
    outline: none;
    border: 0;
    background-color:rgb(48, 54, 48);
    border-radius: 6px;
    padding-left: 15px;
}
#playlist_holder{
    color: lightgrey;
}
.findmore{
    color: white;
    position: relative;
    display: none;
    width: 100%;
    text-align: right;
}
.findmore div{
    font-weight: bold;
    cursor: pointer;
    width: 96%;
}
.findmore span:hover{
    text-decoration: underline;
}
.bi-x-circle{
    margin-top: 0px;
    font-size: 22px;
    cursor: pointer;
    color: grey;
}
.playlist_search i:hover{
    color: white;
}
#cross_hide_search{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cross_hide_search_internal{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 93%;
}

/* Search song */
.search_songdisplay{
    width: 100%;
    overflow-y: scroll;
    max-height: 220px;
    display: flex;
    justify-content: center;
}
.search_songdisplay::-webkit-scrollbar{
    scrollbar-gutter: stable;
    width: 10px;
}
.search_songdisplay::-webkit-scrollbar-thumb{
    background-color:slategray;
}
.search_songdisplay_child{
    display: flex;
    justify-content: space-between;
    width: 93%;
}
.search_to_add_songs{
    margin-top: 10px;
    border-radius: 6px;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 18px;
    background-color: rgba(35, 35, 41, 0.489);
    height: 220px;
}
.table_playlist_search{
    margin-top: 10px;
    text-align: left;
    width: 100%;
    font-size: 13px;
    padding: 0px 2px 5px 2px;
    color: rgb(173, 173, 173);
}

/* bttn */
.add_bttn{
    background-color: transparent;
    color: white;
    padding: 7px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 17px;
    cursor: pointer;
}
.add_bttn:hover{
    color: black;
    background-color: white;
}