*{
  margin: 0;
  padding: 0;
}
body{
  overflow: hidden;
}
.app{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.top{
  display: flex;
  background-color: rgb(13, 13, 21);
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
.app_content_box{
  position: relative;
  width: 75%;
  overflow: hidden;
}

@media screen and (max-width: 895px) {
  .app_content_box{
    width: 100%;
    border-radius: 0px;
    margin: 0;
  }
}